div {
  color: #fff;
  font-family: cursive;
}

#material-icon {
  display: flex;
  border-radius: 50%;
}

td {
  color: #fff;
  font-size: 20px;
}

li:hover {
  background-color: rgb(95, 90, 163);
  color: black;
}

table {
  opacity: 100;
  animation-name: tablecont;
  animation-duration: 4s;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

input,
option {
  border-radius: 30px;
  padding: 10px;
}

@keyframes tablecont {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.search_icon {
  margin-top: -15%;
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(128, 125, 125, 0.5);
}
