div {
  color: #fff;
}

td {
  color: #fff;
  font-size: 20px;
}

li:hover {
  background-color: rgb(95, 90, 163);
  color: black;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}

input,
option {
  border-radius: 30px;
  padding: 10px;
}
