<div class="container">
  <div class="row ">
    <div class="col-md-4">
      <div class="container contanm">
        <div class="row">
          <form>
            <h1 class="h3 mb-3 ">TimeZone</h1>
            <div class="search-box">
              <input type="text" class="form-control" placeholder="Enter Search " [(ngModel)]="cred.city"
                name="cred.city" (ngModelChange)="updateSearch($event)" autocomplete="off" />
            </div>
            <option>
              <ul class="list-group list-group-flush">
                <span *ngFor="let result of arrayResult.final">
                  <li style="color: black" class="list-group-item" role="tabpanel" (click)="srch(result)"
                    *ngIf="result.city">
                    <a>{{ result?.city }}{{ result?.place }} <br />{{
                      result?.country
                    }}</a>
                  </li>
                </span>
              </ul>
            </option>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <ng-template [ngIf]="loader">
        <div class="spinner-border text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>
    </div>
    <div class="col-md-4">
      <div class="container fresult">
        <div class="row">
          <form>
            <h1 style="margin-left: 30px">Result</h1>
            <ng-template [ngIf]="!show">
              <table class="table col-md-6 ">
                <tr>
                  <td>City</td>
                  <td>{{ details?.name }}</td>
                </tr>
                <tr>
                  <td>TimeZone</td>
                  <td>{{ details?.timezone }}</td>
                </tr>
                <tr>
                  <td>Latitide</td>
                  <td>{{ details?.latitude }}</td>
                </tr>
                <tr>
                  <td>Longitude</td>
                  <td>{{ details?.longitude }}</td>
                </tr>
                <tr>
                  <td>Date&Time</td>
                  <td>{{ details?.time }}</td>
                </tr>
              </table>
            </ng-template>
          </form>

        </div>
      </div>
    </div>
  </div>
