<!-- <input type="text" placeholder="Search" name="cred.sname" [ngModel]="cred.sname"
  (ngModelChange)="updateSearch($event)" />
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <option class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngFor="let result of arrayResult.final">
    <a list-item (click)="onSelect()"><span>{{ result?.country }}</span></a>
  </option>
</div> -->
<button class="btn btn-lg btn-primary btn-block" (click)="srch()">
  Search
</button>
